body {
    background-color: rgb(165, 164, 157);
    margin: var(--header-height) 0 0 0;
}

nav {
    background-color: #1d1927;
}

a {
    font-size: 50px;
    overflow: scroll;
    position: inherit;
    pointer-events: visibleStroke;
    color: rgb(84, 248, 34);
    font-family: America;
    stroke-opacity: unset;
}

h1 {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    color: black;
    margin-left: 14ex;
    font-size: 10ex;
    font-family: shizuru;
}

img {
    height: 300px;
    margin-left: 95ex;
    width: fit-content;
    border-radius: 10px;
    stroke: black;
}

html {
    scroll-behavior: smooth;
}

p {
    font-size: 30px;
    margin-left: 628px;
    font-weight: 300;
    font-family: lato;
    color: black;
}